<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}KreativShop
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ importmap('app') }}
		{% endblock %}
	</head>
	<body class="d-flex flex-column min-vh-100">

		{% include 'partials/_navbar.html.twig' %}
		{% include 'partials/_flash.html.twig' %}

		<main class="flex-grow-1"> {% block body %}{% endblock %}
			</main>

			{% include 'partials/_footer.html.twig' %}

			{% block javascripts %}{% endblock %}
		</body>
	</html>
